###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [2]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [3]:
nums1=nums.copy()
nums1.pop(2)
print(nums1)

[1, 2, 4]

In [4]:
nums2=nums.copy()
nums2.remove(3)
print(nums2)

[1, 2, 4]

In [5]:
nums3=nums.copy()
del nums3[2]
print(nums3)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [6]:
lst=[2,3,4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [7]:
lst.insert(2,'two-and-half')
print(lst)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

*convert into list*

In [8]:
phrase=list("Don't panic!")
print(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [9]:
phrase.pop(3)
phrase.pop(-1)
phrase

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [10]:
list1=phrase[5:8]+list(phrase[0])
del phrase[5:8]
del phrase[0]
phrase.extend(list1)
print(phrase)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [11]:
list2=['p','a','n','D','a']
''.join(list2)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [12]:
nums=(31,24,35,85)
print('data type',type(nums))
print(nums)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [13]:
nums=list(nums)
nums.remove(35)
print(tuple(nums))

(31, 24, 85)

**Extent** tuple (85,19)

In [14]:
nums=list(nums)
nums.extend([85,19])
print(tuple(nums))

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [15]:
tpl=('i','n','n','O')
'i' in tpl

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [16]:
list3=['Hello',100,[],'innomatics']
list3[2]=[200]
print(list3)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [1]:
# CODE HERE
tpl = ("Innomatics")
tpl=list(tpl)
tpl[::-1]=tpl
print(tuple(tpl))

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [12]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list1=[]
for i in range(0,len(tpl)):
    list2=list(tpl[i])
    list2.append(100)
    tpl1=tuple(list2)
    list1.append(tpl1)
print(list1)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [11]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list1=[]
for i in range(0,len(tpl)):
    list2=list(tpl[i])
    list2.pop()
    list2.append(100)
    tpl1=tuple(list2)
    list1.append(tpl1)
print(list1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [10]:
input1='5 2 3 6 6 5'
input1=set(input1)
input1=list(input1)
input1.sort()
print('second highest value :',input1[-2])

second highest value : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [7]:
list1=[12,24,35,70,88,120,155]
del list1[4:6]
list1.pop(0)
print(list1)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [6]:
tup=(1,2,3,4,5,6,7,8,9,10)
tup=list(tup)
tup1,tup2=tuple(tup[:5]),(tuple(tup[5:]))
print(tup1,tup2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [3]:
tup=(1,2,3,4,5,6,7,8,9,10)
tup=list(tup)
tup1=tup[1::2]
tup1=tuple(tup1)
print(tup1)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

The main difference between list and tuple is that lists are mutable, where as tuples are immutable.Therefore,it is possible to chnage a list but not a tuple.

### 2. Explain the difference between append() and extend() with examples

**append():-**
* The element passed as an argument is appended to the end of the list
* An iterable passed as an argument wiil append each of its elements to the end of the list.
* Length of the list increases by 1.
* **syntax:-list_name.append(element)**
* **Ex:-**

      list_name=[1,2,3,4]    
      list_name.append([5,6])
      print(list_name)
      output:-[1,2,3,4,[5,6]]
        
        
**extend():-**
* Each element of the iterable passed as an argument gets appended to the end of the list.
* An iterable passed as an argument appends without any change as a single element to the end of the list.
* Length of the list increases by the number of elements in the iterable.
* **syntax:-list_name.extend(element)**
* **Ex:-**

      list_name=[1,2,3,4]    
      list_name.extend([5,6])
      print(list_name)
      output:-[1,2,3,4,5,6]

### 3. Explain the difference between pop() and remove() with examples

**pop():-**
* This method uses the index as a parameter to delete.
* pop() returns deleted value.
* It throws index error in case of an index doesn't exist in the list.
* **syntax:-list_name.pop(index of the element)**
* **Ex:-**

       list_name=[1,2,3,4]
       list_name.pop(3)
       print(list_name)
       output:-[1,2,3]
      
**remove():-**
* This method uses the value as a parameter to delete.
* The remove() method doesn't return any value.
* It throws value error in case of an value doesn't exist in the list.
* **syntax:-list_name.remove(element)**
* **Ex:-**

       list_name=[1,2,3,4]
       list_name.remove(3)
       print(list_name)
       output:-[1,2,4]