###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [1]:
s={1,2,'innomatics','hub'}

In [2]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [3]:
s.add('Technology')

In [4]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [5]:
sc={3,4,'hub','Technology'}

In [6]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [7]:
print(s-sc)

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [8]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [9]:
s.remove(2)

In [10]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [11]:
print(s.intersection(sc))

{'hub', 'Technology'}

> **`Question:`Print all element in two sets**

s union sc

In [12]:
print(s.union(sc))

{'Technology', 1, 3, 4, 'innomatics', 'hub'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [13]:
fruits = {"orange",'apple','kiwi'}
colors = ['orange','red','green']
fruits.update(colors)
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [14]:
set1 = {10, 20, 30, 40, 50}
set2={10,20,30}
print(set1-set2)

{40, 50}