###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
person1 = {'Name':'Jhon','Gender':'Male','Occupation':'Data Scientist','Location':'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [2]:
person1_keys = person1.keys()

In [3]:
print(person1_keys)

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

> **`Question:` Remove Location in person1**

In [4]:
person1.pop('Location')

'Nizampet, Hyderabad'

In [5]:
person1

{'Name': 'Jhon', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [6]:
person2 = {'Name':'Raghu Ram','Gender':'Male','Age':25,'Occupation':'Data Scienctist'}

In [7]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scienctist'}

> **`Question:` Print the output as show below**

In [8]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Jhon', 'Gender': 'Male', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scienctist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [9]:
d1={1:1,2:4,3:9,4:16,5:25,6:36,7:49}
d1.pop(5)
print(d1)
d1.popitem()
print(d1)
del d1[4]
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 6: 36}
{1: 1, 2: 4, 3: 9, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [10]:
dict1={0:0,1:1,3:9,5:25,7:49,9:81}
dict1_items=dict1.items()
d1=sorted(dict1_items)
d1=d1[::-1]
print(dict(d1))

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [11]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
{**dict1,**dict2,**dict3}

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [12]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [13]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict['class']['student']['marks']['history']

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [14]:
dict1={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
dict1.pop('Location')
dict1['Area']='Nizampet, Hyderabad'
dict1

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [15]:
database={'ram':1234,'raghu':5678,'kanav':1357}
username=input('Enter username :')
password=int(input('Enter password :'))
if username in database and database[username]==password :
    print('Hello',username)
else:
    print('You want me to add into the database')
database[username]=password
print(database)

Enter username : pavan
Enter password : 81848

You want me to add into the database
{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'pavan': 81848}