## Basics of Python

> `Question:` Print your name

In [1]:
print("My name is Pavankumar Dadi")

My name is Pavankumar Dadi

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

**Variables:-** Variables are containers for the data values.

**Naming conventions for Variables:-**
* A variable name can only contain alphabets,numbers and underscore(_).
* A variable name must start with a letter or underscore character.
* A variable name cannot be any of the python keywords.
* Variable names are case-sensitive.
* A variable name can't have any spaces between the various parts of the variable.If we want to distinguish them,we can use underscore.

In [2]:
my_Name="PAVANKUMAR DADI"

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [3]:
width=17
height=12.0
delimiter='.'
value1=width/2
value2=width/2.0
value3=height/3
value4=1+2*5
value5='.'*5
print("1. width/2 =",value1,"    Type-",type(value1))
print("2. width/2.0 =",value2,"  Type-",type(value2))
print("3. height/3 =",value3,"   Type-",type(value3))
print("4.",value4,"               Type-",type(value4))
print("5.",value5,"            Type-",type(value5))

1. width/2 = 8.5     Type- <class 'float'>
2. width/2.0 = 8.5   Type- <class 'float'>
3. height/3 = 4.0    Type- <class 'float'>
4. 11                Type- <class 'int'>
5. .....             Type- <class 'str'>

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [4]:
first_number=7  
second_number=18
addition=first_number+second_number

In [5]:
print("first number is :",first_number)
print("second number is :",second_number)
print("Addition of two numbers are :",addition)

first number is : 7
second number is : 18
Addition of two numbers are : 25

> `Question:` Add your first name and second name

In [6]:
first_name="Pavankumar"                           
second_name="Dadi"
full_name=(first_name+" "+second_name)

In [7]:
print("My first name is :",first_name)
print("My second name is :",second_name)
print("My full name is :",full_name)

My first name is : Pavankumar
My second name is : Dadi
My full name is : Pavankumar Dadi

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [8]:
a=10                 
b='10'
c=True
d=10.5

In [9]:
print("10 -",type(a))
print("'10' -",type(b))
print("True -",type(c))
print("10.5 -",type(d))

10 - <class 'int'>
'10' - <class 'str'>
True - <class 'bool'>
10.5 - <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [10]:
num_int=123
num_str="456"
num_str=int(num_str)
Addition=num_int+num_str

In [11]:
print("Addition of",num_int,"and",num_str,"is :",Addition)

Addition of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [12]:
radius_of_sphere=5
volume_of_the_sphere=4/3*3.14*radius_of_sphere**3
print(volume_of_the_sphere)

523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [13]:
cover_price=24.95
discount=0.4
shipping_cost_for_the_first_copy=3
shipping_cost_for_each_additional_copy=0.75
total_copies=60
discount_price=cover_price*discount
cover_price_after_discount=cover_price-discount_price
total_additional_copies=total_copies-1
shipping_cost_for_total_additional_copies=total_additional_copies*shipping_cost_for_each_additional_copy
cover_price_for_total_copies=cover_price_after_discount*total_copies
total_wholesale_cost=(cover_price_for_total_copies+shipping_cost_for_total_additional_copies+shipping_cost_for_the_first_copy)

In [14]:
print("Total wholesale cost for 60 copies: Rs.",total_wholesale_cost)

Total wholesale cost for 60 copies: Rs. 945.4499999999999